<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/crear_usuario" method="post">
        <h2>Registro</h2>
        <br>
        <label for="nombre_usuario_registro">Nombre:</label>
        <input type="text" id="nombre_usuario_registro" name="nombre">
        <br>
        <label for="apellido_usuario_registro">Apellido:</label>
        <input type="text" id="apellido_usuario_registro" name="apellido">
        <br>
        <label for="email_usuario_registro">E-mail:</label>
        <input type="email" id="email_usuario_registro" name="email">
        <br>
        <label for="password_usuario_registro">Contraseña:</label>
        <input type="password" id="password_usuario_registro" name="password">    

        <br>
        <label for="password_usuario_registro_conf">Confirmar Contraseña:</label>
        <input type="password" id="password_usuario_registro_conf" name="password_conf">  

        <br>
        <input type="submit" value="Registrar">
    </form>

    <form action="/iniciar_sesion" method="post">
        <h2>Inicio Sesión</h2>
        <br>
        <label for="email_inicio_sesion">E-mail:</label>
        <input type="email" id="email_inicio_sesion" name="email_inicio_sesion">  
        <br>
        <label for="password_inicio_sesion">Password:</label>
        <input type="email" id="password_inicio_sesion" name="password_inicio_sesion">  
        <br>
        <input type="submit" value="Iniciar Sesión">   
    </form>
    
</body>
</html>